<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Shopping list</h1>
    <ol>
        <% for(let product of products){ %>
        <li><%= product.name %> - <%= product.price %></li>
     <% } %>
    </ol>
</body>
</html>